<ng-container *ngIf="user$ | async as user">
    <h1>Welcome to our store Home Page, {{user.email}}!</h1>
</ng-container>

<div class="pContainer">

<p>Flowers have an ethereal and fleeting beauty incomparable to anything else in the world, 
    the exception being those in the first flush of love. Unfortunately, many rare flowers in the world 
    have gone extinct in the wild and only exist in some pockets. Thanks to the efforts of botanists
     and conservationists like us, it is available either in select places in the wild or in botanical gardens. The list also includes those flowers that bloom only once every few decades and those
     that require certain conditions to bloom, making them unique.</p>

     <p>There are flowers that are rare because they have been bred a certain way over a period of years. 
        Anything rare and beautiful always draws crowds, people who travel great distances for a rare sighting
         of a rare bloom or to catch a glimpse of some unique flowers.</p>

        </div>

<div class="imageContainer">
<img class="homeImage" src="/assets/rose.jpg" alt="Juliet Rose" style="width:270px;height:250px;"> 

<img class="homeImage" src="/assets/puya.jpg" alt="Puya" style="width:300px;height:250px;"> 

<img class="homeImage" src="/assets/queen-of-the-night.jpg" alt="Queen of the Night" style="width:300px;height:250px;">
</div>

<div class="bottomText">
 <p>We make it possible for you to get the rarest flowers delivered to your home!</p>
</div>